# Mini Project

## Objectives

In [ ]:
##IGNORE
%sql sqlite:///flight.db

##IGNORE


```sqlite
(a)  SELECT DISTINCT carrier_id
     FROM Flights
     WHERE origin_city = 'Seattle WA' AND actual_time <= 30;
```
`CREATE INDEX`

# Project starts from here